# <center> Итоги модуля 14

In [52]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [53]:
diabetes = pd.read_csv('data/diabetes_data.csv')
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,98,58,33,190,34.0,0.430,43,0,Female
1,2,112,75,32,0,35.7,0.148,21,0,Female
2,2,108,64,0,0,30.8,0.158,21,0,Female
3,8,107,80,0,0,24.6,0.856,34,0,Female
4,7,136,90,0,0,29.9,0.210,50,0,Female

In [54]:
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000
mean,3.848329,120.822622,69.035990,20.457584,79.521851,31.982262,0.470871,33.317481,0.344473
std,3.360782,31.883264,19.432323,15.954452,114.862405,7.853917,0.330669,11.816300,0.475502
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.241500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,27.000000,32.000000,0.370000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,126.750000,36.500000,0.625500,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [55]:
mask = diabetes.duplicated()
mask.shape[0]

778

In [56]:
diabetes_drop = diabetes.drop_duplicates()
print(f'Результирующее число записей: {diabetes_drop.shape[0]}')

Результирующее число записей: 768

In [57]:
low_informative = []

for col in diabetes_drop.columns:
    top_freq = diabetes_drop[col].value_counts(normalize=True).max()
    nunique_ratio = diabetes_drop[col].nunique() / diabetes_drop[col].count()
    
    if top_freq > 0.95:
        low_informative.append(col)
        print(f'{col}:{round(top_freq*100,2)}% одинаковых значений')
    if nunique_ratio > 0.95:
        low_informative.append(col)
        print(f'{col}: {round(nunique_ratio*100, 2)}% уникальных значений')

Gender:100.0% одинаковых значений

In [58]:
diabetes_drop.drop(low_informative, axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98,58,33,190,34.0,0.430,43,0
1,2,112,75,32,0,35.7,0.148,21,0
2,2,108,64,0,0,30.8,0.158,21,0
3,8,107,80,0,0,24.6,0.856,34,0
4,7,136,90,0,0,29.9,0.210,50,0
...,...,...,...,...,...,...,...,...,...
763,5,139,64,35,140,28.6,0.411,26,0
764,1,96,122,0,0,22.4,0.207,27,0
765,10,101,86,37,0,45.6,1.136,38,1
766,0,141,0,0,0,42.4,0.205,29,1
767,0,125,96,0,0,22.5,0.262,21,0

In [59]:
cols_null_percent = diabetes_drop.isnull().mean() * 100
cols_null_percent

Pregnancies                 0.0
Glucose                     0.0
BloodPressure               0.0
SkinThickness               0.0
Insulin                     0.0
BMI                         0.0
DiabetesPedigreeFunction    0.0
Age                         0.0
Outcome                     0.0
Gender                      0.0
dtype: float64

In [60]:
def nun_func(x):
    return np.nan if x == 0 else x

In [61]:
diabetes_drop['Glucose'] = diabetes_drop['Glucose'].apply(nun_func)
diabetes_drop['BloodPressure'] = diabetes_drop['BloodPressure'].apply(nun_func)
diabetes_drop['SkinThickness'] = diabetes_drop['SkinThickness'].apply(nun_func)
diabetes_drop['Insulin'] = diabetes_drop['Insulin'].apply(nun_func)
diabetes_drop['BMI'] = diabetes_drop['BMI'].apply(nun_func)

C:\Users\Павел\AppData\Local\Temp\ipykernel_6176\397499368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes_drop['Glucose'] = diabetes_drop['Glucose'].apply(nun_func)
C:\Users\Павел\AppData\Local\Temp\ipykernel_6176\397499368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes_drop['BloodPressure'] = diabetes_drop['BloodPressure'].apply(nun_func)
C:\Users\Павел\AppData\Local\Temp\ipykernel_6176\397499368.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes_drop['SkinThickness'] = diabetes_drop['SkinThickness'].apply(nun_func)
C:\Users\Павел\AppData\Local\Temp\ipykernel_6176\397499368.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes_drop['Insulin'] = diabetes_drop['Insulin'].apply(nun_func)
C:\Users\Павел\AppData\Local\Temp\ipykernel_6176\397499368.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes_drop['BMI'] = diabetes_drop['BMI'].apply(nun_func)

In [62]:
cols_null_percent = diabetes_drop.isnull().mean() * 100
cols_null_percent

Pregnancies                  0.000000
Glucose                      0.651042
BloodPressure                4.557292
SkinThickness               29.557292
Insulin                     48.697917
BMI                          1.432292
DiabetesPedigreeFunction     0.000000
Age                          0.000000
Outcome                      0.000000
Gender                       0.000000
dtype: float64

In [70]:
diabetes_drop = diabetes_drop.drop(['Insulin', 'SkinThickness'], axis=1)

KeyError: "['Insulin', 'SkinThickness'] not found in axis"

In [69]:
diabetes_drop.shape[1]

8

In [72]:
diabetes_drop.tail()

,Pregnancies,Glucose,BloodPressure,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
763,5,139.0,64.0,28.6,0.411,26,0,Female
764,1,96.0,122.0,22.4,0.207,27,0,Female
765,10,101.0,86.0,45.6,1.136,38,1,Female
766,0,141.0,NaN,42.4,0.205,29,1,Female
767,0,125.0,96.0,22.5,0.262,21,0,Female

In [74]:
m = diabetes_drop.shape[1]
diabetes_drop = diabetes_drop.dropna(thresh=m-1, axis=0)
print(diabetes_drop.shape[0])

761

In [75]:
diabetes_drop.tail()

,Pregnancies,Glucose,BloodPressure,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
763,5,139.0,64.0,28.6,0.411,26,0,Female
764,1,96.0,122.0,22.4,0.207,27,0,Female
765,10,101.0,86.0,45.6,1.136,38,1,Female
766,0,141.0,NaN,42.4,0.205,29,1,Female
767,0,125.0,96.0,22.5,0.262,21,0,Female