# Итоги модуля 11

In [71]:
import pandas as pd

In [72]:
citi_bike = pd.read_csv('data/citibike-tripdata.csv')
display(citi_bike.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [73]:
citi_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [74]:
display(citi_bike['start station id'].value_counts(normalize=True))

281.0     0.006430
2006.0    0.006367
519.0     0.006247
514.0     0.006153
426.0     0.006120
            ...
3432.0    0.000050
3599.0    0.000037
2005.0    0.000030
3704.0    0.000023
3583.0    0.000020
Name: start station id, Length: 759, dtype: float64

In [75]:
display(citi_bike['bikeid'].value_counts(normalize=True))

33887    0.000357
34358    0.000347
34159    0.000343
34258    0.000343
33916    0.000340
           ...
18587    0.000003
17324    0.000003
29593    0.000003
33157    0.000003
25794    0.000003
Name: bikeid, Length: 10004, dtype: float64

In [76]:
display(citi_bike['usertype'].value_counts(normalize=True))

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [77]:
display(citi_bike['gender'].value_counts())

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [78]:
citi_bike['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [79]:
citi_bike_df = citi_bike.copy()

In [80]:
citi_bike_df = citi_bike_df.drop(['end station id', 'start station id'], axis=1)

In [81]:
citi_bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [82]:
citi_bike_df['years'] = 2018 - citi_bike_df['birth year'] 
display(citi_bike_df['years'])

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: years, Length: 300000, dtype: int64

In [83]:
citi_bike_df = citi_bike_df.drop('birth year', axis=1)

In [84]:
display(citi_bike_df[citi_bike_df['years'] > 60].info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11837 entries, 53 to 299990
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   starttime                11837 non-null  object
 1   stoptime                 11837 non-null  object
 2   start station name       11837 non-null  object
 3   start station latitude   11837 non-null  float64
 4   start station longitude  11837 non-null  float64
 5   end station name         11837 non-null  object
 6   end station latitude     11837 non-null  float64
 7   end station longitude    11837 non-null  float64
 8   bikeid                   11837 non-null  int64
 9   usertype                 11837 non-null  object
 10  gender                   11837 non-null  int64
 11  years                    11837 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 1.2+ MB

None

In [85]:
citi_bike_df['starttime'] = pd.to_datetime(citi_bike_df['starttime'])
citi_bike_df['stoptime']=pd.to_datetime(citi_bike_df['stoptime'])

In [89]:
citi_bike_df['time'] = citi_bike_df['stoptime'] - citi_bike_df['starttime']
citi_bike_df.loc[3, ['time']]

time    0 days 00:07:16.837000
Name: 3, dtype: object

In [90]:
citi_bike_df['weekend'] = citi_bike_df['starttime'].dt.dayofweek

In [96]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
citi_bike_df['WeekenD'] = citi_bike_df['weekend'].apply(get_weekend)
display(citi_bike_df['WeekenD'].value_counts())

0    184865
1    115135
Name: WeekenD, dtype: int64

In [98]:
def get_part_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
citi_bike_df['time of day'] = citi_bike_df['starttime'].dt.hour.apply(get_part_of_day)
a = citi_bike_df[citi_bike_df['time of day'] == 'night'].shape[0]
b = citi_bike_df[citi_bike_df['time of day'] == 'day'].shape[0]
print(b/a)

9.480411004308916