In [9]:
import pandas as pd

In [10]:
pd.__version__

'1.4.4'

In [11]:
import pandas as pd

In [12]:
print(pd.__name__)

pandas

# Series

In [13]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'], 
    index =['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'], 
    name = 'countries')
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [14]:
countries_1 = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries')
display(countries_1)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [15]:
print(countries.loc['KZ'])
print(countries.loc[['UK','RU','BY']])

Казахстан
UK      Англия
RU      Россия
BY    Беларусь
Name: countries, dtype: object

In [16]:
print(countries_1.iloc[1])
print(countries_1.iloc[:5])

Канада
UK     Англия
CA     Канада
US        США
RU     Россия
UA    Украина
Name: countries, dtype: object

In [17]:
def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    a = pd.Series(data = counts, index = names, name = 'medication')
    return a
   

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    if name in medications:   # или  return(medications.loc[name]/sum(medications) * 100)
        x = medications[name]
    sums = (x/(np.sum(medications)))*100
    return sums
    

if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

NameError: name 'np' is not defined

# DataFrame

In [ ]:
countries_df = pd.DataFrame({
    'countries': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

    countries  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [ ]:
countries_df_1 = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['countries', 'population', 'square'],
    index= ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df_1)

    countries  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [ ]:
countries_df.mean(axis=0)
countries_df.mean(axis=1)

C:\Users\Павел\AppData\Local\Temp\ipykernel_12796\3108653042.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=0)
C:\Users\Павел\AppData\Local\Temp\ipykernel_12796\3108653042.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [ ]:
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [ ]:
countries_df_1['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [ ]:
print(countries_df.loc['UK', 'square'])
print(countries_df.loc['RU', ['square', 'population']])

133396
square        17125191
population      146.24
Name: RU, dtype: object

In [ ]:
print(countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']])
print(countries_df_1.iloc[1:4, 1:3])

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902
    population    square
CA       38.05   9984670
US      322.28   9826630
RU      146.24  17125191

In [ ]:
def create_companyDF(incomes, expenses, years):
    df = pd.DataFrame({
        'Incomes': incomes,
        'Expenses': expenses
        },
        index = years
    )
    
    return df
def get_profit(df, year):
    if year not in df.index:
        return None
    profit = df.loc[year, 'Incomes'] - df.loc[year, 'Expenses']
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    incomes = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(incomes, expenses, years)
    print(get_profit(scienceyou, 2022)) #-74

None

# 10.4 Импорт в cvs

In [ ]:
countries_df.to_csv('data/countries.cvs', index=False, sep=';')

# Чтение из фаила csv

In [ ]:
countries_data = pd.read_csv('data/countries.cvs', sep= ';')
display(countries_data)

   countries  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [18]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

# 10.5 Недвижимость

In [19]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [28]:
print((melb_data.iloc[3521]['Landsize'])/(melb_data.iloc[1690]['Landsize']))

2.7857142857142856